.App {
  text-align: center;
  background-color: white;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 150px;
  overflow-y: auto;
}

.sidebar-item {
  margin: 5px;
  cursor: pointer;
}

.main-view {
  flex: 1;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden;
}