.imageviewer.thumbnail {
    width: 150px;
    height: 100px;
    display: block;
    object-fit: cover;
}

.imageviewer.large-view {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}