[Unit]
Description=Smart Sec Cam Streamer Service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=